<span *ngIf="checkItem(bucketlist)">
  
    <div class="responsesStreamWrapper u-maxWidth640">
      <div class="row streamItemConversation-inner cardChromeless">
        <md-progress-bar
          mode="determinate">
          Loading...
        </md-progress-bar>
        <div class="streamItemConversationItem streamItemConversationItem--preview">
          <div class="u-clearfix u-marginBottom10">
            <div class="postMetaInline u-floatLeft">
              <div class="u-flexTop">
                <div class="u-paddingLeft5 u-bucketlistName">
                  <a class="link--accent link u-marginRight20" (click)="back()" >
                    <md-icon>arrow_back</md-icon>
                  </a>
                  <a class="link--accent link" (dblclick)="updateBucketlist()" >{{bucketlist.name}}</a>
                </div>
              </div>
            </div>
          </div>
          <div class="u-paddingRight20 u-paddingLeft20 u-marginTop20 u-item-description" >
            <md-input-container class="input-item">
              <input mdInput name="name" placeholder="New Item" id="create-itemName" [(ngModel)]="model.name" #name="ngModel" (keyup.enter)="addItem()">
            </md-input-container>
            <button (click)="addItem()" [disabled]="loading" class="u-inline button-item" md-raised-button >Add Item</button>
            <span  *ngIf="items?.length>0">
              <ul class="u-margin0 u-padding0">
                <li  class="u-marginTop10 u-displayBlock"  *ngFor="let item of items">
                  <span class="postMetaInline u-floatLeft u-width100pct u-marginBottom20">
                    <span *ngIf="editItem===item.id">
                      <md-input-container class="u-width100pct u-noPadding">
                        <input mdInput name="item" [value]="item.name" id="edit-itemName" [(ngModel)]="itemModel.name" #item="ngModel" (keyup.enter)="updateItem(editItem)" />
                      </md-input-container>
                      <span class="postMetaInline ">
                        <button (click)="toggleEdit()" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon "  title="Cancel Edit">
                          <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                            <md-icon>cancel</md-icon>
                          </span>
                        </button>
                      </span>
                    </span>
                    <span *ngIf="editItem!==item.id">
                      <label for="item-{{item.id}}" class="label">
                        <input id="item-{{item.id}}" class="toggle label__checkbox" type="checkbox" (click)="toggleCompletion(item)" [checked]="item.done" />
                        <span class="label__text">
                          <span class="label__check">
                            <md-icon class="fa fa-check icon">done</md-icon>
                          </span>
                        </span>
                      </label>
                      <span mdTooltip="Tooltip!">
                        <span class="u-fontSize12" title="Double Click to edit" (dblclick)="toggleEdit(item.id)">{{item.name}}</span>
                      </span>
                      <button (click)="openDialog('delete', item.id)" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon u-floatRight" title="Delete">
                        <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                          <md-icon>delete</md-icon>
                        </span>
                      </button>
                      <button (click)="toggleEdit(item.id)"class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon u-floatRight" title="Delete">
                        <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                          <md-icon>edit</md-icon>
                        </span>
                      </button>
                    </span>
                  </span>
                </li>
              </ul>
            </span>
            <app-nobuckets *ngIf="items?.length<=0" [nobucketlists]="items?.length<=0" [isBucketlist]=false></app-nobuckets>
          </div>
          <div class="u-clearfix">
            <div class="buttonSet u-floatRight">
              <div class="buttonSet-inner ">
                <button (click)="openDialog('deleteAll', null)" [disabled]="noItems" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon" title="Delete bucketlist">
                  <md-icon>delete_sweep</md-icon>
                </button>
                <button (click)="completeAll()" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon "  title="Mark all as Complete">
                  <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                    <md-icon>done_all</md-icon>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </span>
