.u-item-description {
  max-height: 500px;
  min-height: 450px;
  overflow-y: scroll;
}
.input-item {
  width: 100%;
}
.button-item {
  margin-left:75%
}
@media screen and (min-width: 720px) {
  .input-item {
    width: 80%
  }
  .button-item {
    margin-left:1rem;
  }
}

