<md-progress-bar
   mode="indeterminate"
   *ngIf="loading"
  >
</md-progress-bar>
<div class="u-padding-24">
  <a class="link--accent">
    <md-icon class="material-icons">event_available</md-icon>
    Update Bucketlist
  </a>
  <div class="u-floatRight">
    <md-slide-toggle
        [(ngModel)]="isChecked">
      Complete
    </md-slide-toggle>
    </div>
  <md-input-container>
    <textarea mdInput placeholder="Add Name" [(ngModel)]="model.name" #bucketlist_name="ngModel" name="comment" id="bucketlist-name" rows="2" class="bucketlist-name"></textarea>
  </md-input-container>
</div>
<div class="u-padding-24 u-marginTop20 u-floatRight">
  <button (click)=dialogRef.close(false) md-button color="primary">Cancel</button>
  <button (click)=UpdateBucketlist() [disabled]="loading" md-raised-button color="primary"><md-icon>done</md-icon></button>
</div>