.u-marginTop30pct {
  margin-top:30%
} 
.u-width250{
  width: 250px;
}
@media screen and (min-width: 720px) {
  .u-marginTop30pct {
    margin-top:10%
  } 
}
.noBucketlists--imageWidth {
  width:80%;
} 
.u-marginLeft10pct {
  margin-left: 10%!important;
}
.u-marginRight10pct {
  margin-right: 10%!important;
}