<span *ngIf="checkItem(allBucketlists)">

  <div class="responsesStreamWrapper u-maxWidth640"  *ngFor="let bucketlist of allBucketlists">
    <div class="row streamItemConversation-inner cardChromeless">
      <md-progress-bar
      class="spinner-md"
      mode="determinate">
        Loading...
      </md-progress-bar>
      <div class="streamItemConversationItem streamItemConversationItem--preview">
        <div class="u-clearfix u-marginBottom10">
          <div class="postMetaInline u-floatLeft">
            <div class="u-flexTop">
              <div class="u-paddingLeft5 u-bucketlistName">
                <a class="link--accent u-accentColor--textNormal"  [routerLink]="['/bucketlists', bucketlist.id]">{{bucketlist.name}}</a>
              </div>
              <div class="postMetaInline">
                <div class="u-flexTop">
                  <div class="postMetaInline-avatar u-flex0">
                    <div class="u-fontSize12">
                      <label for="dateModified" title="date modified">Date Modified</label>
                      <span class="middotDivider u-fontSize12"></span>
                      <time id="dateModified">{{bucketlist?.date_modified | date:'H:m, MMM/yy'}}</time>
                      <label for="dateCreated" title="date Created">Date Created</label>
                      <span class="middotDivider u-fontSize12"></span>
                      <time id="dateCreated">{{bucketlist?.date_created | date:'H:m, MMM/yy'}}</time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="u-paddingRight20 u-paddingLeft20 u-marginTop20 u-description" >
          <span class="u-fontSize12">{{bucketlist.description}}</span>
        </div>
        <div class="u-clearfix">
          <div class="buttonSet u-floatRight">
            <div class="buttonSet-inner ">
              <button (click)="openDialog('delete', bucketlist.id)" class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon" title="Delete Task">
                <md-icon>delete</md-icon>
              </button>
              <button class="button button--chromeless u-baseColor--buttonNormal button--withIcon button--withSvgIcon "  title="Mark as Complete">
                <span class="svgIcon svgIcon--arrowDown svgIcon--19px is-flushRight">
                  <md-icon>done</md-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</span>
<app-feed-loader [loading]="feedLoading"></app-feed-loader>
<app-nobuckets [nobucketlists]="noBucketlists" [isBucketlist]=true></app-nobuckets>